#Profiletext, #drive, #support, #settings, #logout{
  display: none;
}

#NavbarMain{
  padding: 10px 20px;
  position: fixed;
  width: 100%;
}

#Profile{
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  background-color: white;
}

#logo{
  height: 50px;
  border-radius: 5px;
}

#DropdownMenu li{
  cursor: pointer;
}

@media only screen and (max-width: 360px) {
  #navbarNav {
    align-items: flex-start;
    position: absolute;
    left: 0;
    top: 75px;
    background-color: #343a40;
    width: 300px;
    padding: 0 20px;
  }

  #Profilebutton{
      display: none;
  }
  #DropdownMenu p{
      margin: 0;
  }
  #Profiletext, #drive, #support, #settings, #logout{
    display: block;
  }
  #NavbarMain{
    font-size: larger;
  }
}

#s-details-container{
  position: relative;
  cursor: pointer;
}

#s-details{
  list-style-type: none;
  position: absolute;
  background-color: white;
  width: 100%;
  display: none;
  right: 160px;
  top: 20px;
  border-radius: 5px;
  border: 1px solid #c5c5c5;
  padding: 15px;
}

#s-details-container:hover #s-details{
  display: block;
}